<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Bellows uses HealthKit to sync your exercise data and provide comprehensive fitness tracking across your Apple devices.</string>
</dict>
</plist>
