<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>NSHealthShareUsageDescription</key>
    <string>Bellows would like to access your workout data from Apple Health to automatically track your exercise activities and help maintain your daily movement streak.</string>
</dict>
</plist>
